large_data
__pycache__
saved_results
Baselines/AutoPlait/output
.ipynb_checkpoints
*.npy
*.npz
.vscode
UCR-SEG
USC-HAD
PAMAP2
HVGHlearn
output_folder
output_TICC
output_HDP_HSMM
result.txt
out_ClaSP.txt
out_ClaSP
results
*.o
data/synthetic_data_for_segmentation2